.navbar{
  background: rgb(1,0,9);
  background: linear-gradient(90deg, rgba(1,0,9,1) 13%, rgba(3,3,46,1) 34%, rgba(7,206,246,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
     }
   .nav-item a{
     color: white;
     font-size: large;
   }
h5{
  color: white;
  font-size: medium;
  text-align: justify;
}

.dropdown-menu{
  background-color: black;
}