<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets\img\banner2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\img\banner3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\img\banner4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\img\banner1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container text-center">    
    <h1>Confira os jogos da Semana</h1><br>
    <div class="row">
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets\img\gears xbox.jpg" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Gears 5 -XBOX</h5>
            <p class="card-text">RS72,89</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
             
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets\img\gta xbox.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">GTA 5 -XBOX</h5>
            <p class="card-text">R$ 80,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
             
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets\img\immortals xbox.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Immortals Fenyx Rising -XBOX</h5>
            <p class="card-text">R$92,36</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
             
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
              <img src="assets\img\hell neighbor nintendo.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hello Neighbor -NINTENDO</h5>
                <p class="card-text">R$ 124,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
             
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets\img\mario nintendo.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mario + Rabbids Kingdom Battle -NINTENDO</h5>
            <p class="card-text">R$ 200,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
             
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets\img\overcooked nintendo.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Overcooked 2 -NINTENDO</h5>
            <p class="card-text">R$124,50</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
             
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets\img\jump force ps4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jump Force -PS4</h5>
            <p class="card-text">R$29,99</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
             
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets\img\the last of us ps4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Last of Us Part II -PS4</h5>
            <p class="card-text">R$99,90</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
             
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets\img\uncharted ps4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Uncharted: The Lost Legacy -PS4</h5>
            <p class="card-text">R$49,99</p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
             
      </div>
  
    <div id="Cartoes">
        <div class="container">
            <div class="row">
                <div class="col-6">
                  <div class="card" style="width: 30rem;">
                      <img src="assets\img\card1.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Confira os jogos mais aguardados de 2021!</h5>
                        <p class="card-text">Clique aqui e fique por dentro das novidades do mundo gamer.</p>
                        <a href="#" class="btn btn-primary">Ler</a>
                      </div>
                    </div>
                </div>
                <div class="col-6">
                  <div class="card" style="width: 30rem;">
                      <img src="assets\img\card2.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Saiba tudo sobre consoles!</h5>
                        <p class="card-text">Você sabe qual é o console mais vendido do mundo ? ou o mais famoso? clique aqui e descubra...</p>
                        <a href="#" class="btn btn-primary">Ler</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div id="linha1">
      <div class="container text-center" >    
       
        <br>
        <div class="row">
          <div class="col-sm-2">
            <img src="assets\img\pagamento-com-cartao-de-credito.png" class="img-responsive" style="width:40%" alt="Image">
            <p>PARCELAMENTO</p>
            <H4>Em até 8x sem juros</H4>
          </div>
          <div class="col-sm-2"> 
            <img src="assets\img\entrega-rapida.png" class="img-responsive" style="width:40%" alt="Image">
            <p>ENVIO RÁPIDO</p> 
            <h4>Postamos no mesmo dia*</h4>   
          </div>
          <div class="col-sm-2"> 
            <img src="assets\img\atendimento-ao-cliente.png" class="img-responsive" style="width:40%" alt="Image">
            <p>ATENDIMENTO</p>
            <H4>Suporte personalizado</H4>
          </div>
          <div class="col-sm-2"> 
            <img src="assets\img\presente.png" class="img-responsive" style="width:40%" alt="Image">
            <p>COMPRE E GANHE</p>
            <h4>Brindes em todos os pedidos</h4>
          </div> 
          <div class="col-sm-2"> 
            <img src="assets\img\escudo-seguro.png" class="img-responsive" style="width:40%" alt="Image">
            <p>SITE SEGURO</p>
            <h4>Compre com segurança</h4>
          </div>     
          
        </div>
      </div><br>
    </div>
  