<form action="/">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" value="" placeholder="Digite seu Id"><br>

    <label for="NomedoJogo">Nome do Jogo:</label>
    <input type="text" id="nomedoJogo" name="Nome do jogo" value="" placeholder="Nome do Jogo"><br>

    <label for="id">Tipo:</label>
    <input type="text" id="Tipo" name="tipo" value="" placeholder="Qual o tipo de jogo?"><br>

    <label for="id">Empresa Desenvolvedora</label>
    <input type="text" id="Empresa Desenvolvedora" name="empresadesenvolvedora" value="" ><br>

    <input type="button" onclick="alert('Você clicou em Exibir!')" value="Exibir">
    <input type="button" onclick="alert('Você clicou em Cadastrar!')" value="Cadastrar">
    <input type="button" onclick="alert('Você clicou em Atualizar!')" value="Atualizar">
    <input type="button" onclick="alert('Você clicou em Apagar!')" value="Apagar">

  </form>
